*{
    padding: 0%;
    margin: 0%;
    
}

body,h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(/tipcalculator/background.jpg);
    

}
h2{
    background-color: rgba(186, 86, 9, 0.608);
    width:200px;
    border-radius: 25%;
}

#conatinor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background-color: rgba(248, 215, 96, 0.786);
    padding: 10px;
    width: 400px;
    height:50%;
    border-radius: 15px;
}
#properties{
    margin: 5px;
    padding: 5px;
    border-left: 2px solid rgba(186, 86, 9, 0.608);
    border-right: 2px solid rgba(186, 86, 9, 0.608);
   
}
.property{
    margin:10px;
}
input[type=text]{
    text-align: center;
    background-color:floralwhite;
    border-radius: 10px;
}
